---
import sessions from "../../data/sessions";
import Layout from "../../layouts/Layout.astro";
import SessionHeader from "../../components/Session/SessionHeader.astro";
import SessionCalendar from "../../components/Session/SessionCalendar.astro";
import SessionHost from "../../components/Session/SessionHost.astro";
import CallToAction from "../../components/CallToAction.astro";
import SessionFAQ from "../../components/Session/SessionFAQ.astro";

export async function getStaticPaths() {
  const slugs = sessions.flatMap((session) => {
    const dates = session.dates.map((date) => {
      return {
        id: date.url,
        date: date,
      };
    });

    // URLS like /session/ci_i_feb4
    const dateSlugs = dates.map((date) => {
      return {
        params: { id: date.id },
        props: { session: session, date: date.date },
      };
    });

    return dateSlugs;
  });

  return slugs;
}

const { session, date } = Astro.props;

let namesArray = session.instructors.map((instructor) => instructor.name);
let names =
  namesArray.length == 2
    ? namesArray[0] + " and " + namesArray[1]
    : namesArray[0];

const description = `Workshop taught by ${names} starting on ${session.dates[0].date}.`;
---

<Layout title={session.title} slug={session.id} description={description}>
  <div class="relative pb-48 pt-12">
    <div class="w-full max-w-6xl mx-auto px-4 md:px-12 xl:px-0">
      <SessionHeader session={session} />
      <CallToAction session={session} date={date} />
      <SessionCalendar date={date} />
      <SessionHost instructors={session.instructors} />
      <SessionFAQ faqs={session.faqs} />
    </div>
  </div>
</Layout>
