---
import HoverArrow from "../HoverArrow.astro";
import { type Session } from "../../../public/data/sessions";

export interface Props {
  session: Session;
}

const { session } = Astro.props;

let futureEvent = session.dates[0].date != "Not currently scheduled";

let starting_string = futureEvent
  ? `Starting ${session.dates[0].date}`
  : session.dates[0].date;

let hasGithubRepo = session.repo != null;
const includeAbstract = true;
---

<div class="py-4 sm:py-6 mt-4">
  <!-- Vertical Bar -->
  <div class={`${session.buttonGradient} h-3 mb-4`}></div>

  <!-- Mixtape Session Title -->
  {
    futureEvent ? (
      <a
        class="pb-2 group cursor-pointer flex justify-between items-center"
        href={`/session/${session.dates[0].url}`}
      >
        <h2
          class={`inline-block text-4xl md:text-[3rem] leading-[1.5] font-semibold tracking-tight text-gradient mr-2  ${session.buttonGradient}`}
        >
          {session.title}
        </h2>
        <HoverArrow />
      </a>
    ) : (
      <h2
        class={`inline-block text-4xl md:text-[3rem] leading-[1.5] font-semibold tracking-tight text-gradient ${session.buttonGradient}`}
      >
        {session.title}
      </h2>
    )
  }

  <!-- Instructors -->
  <div
    class="flex flex-col lg:flex-row gap-y-4 gap-x-2 text-slate-800 text-xl md:text-2xl font-light tracking-wide mt-4 lg:mt-2 mb-2 leading-[1.5]"
  >
    <p class="block md:inline-block">
      {
        session.instructors.map((instructor, i) => {
          return (
            <Fragment>
              {i > 0 && <span> and </span>}
              <a
                class="underline underline-offset-4 decoration-2 decoration-slate-500/60 hover:decoration-slate-500"
                href={instructor.url}
              >
                {instructor.name}
              </a>
            </Fragment>
          );
        })
      }
    </p>
    <p class="block md:inline-block">
      <span class="hidden lg:inline mx-1 text-slate-800">•</span>
      <span class="text-slate-800">{starting_string}</span>
    </p>
  </div>

  <!-- Abstract -->
  {
    includeAbstract && (
      <div
        class="text-slate-600 text-lg md:text-[1.375rem] max-w-[75ch] mt-8 mb-4 leading-normal"
        
      >
        <Fragment set:html={session.about}></Fragment>
      </div>
    )
  }

  <!-- Github Repo -->
  {
    hasGithubRepo && (
      <p class="text-slate-600 text-lg md:text-[1.375rem] max-w-[75ch] mt-4 mb-4 leading-normal">
        All course material is available free and open source via our
        <a
          href="https://github.com/Mixtape-Sessions/"
          class="underline underline-offset-4 decoration-2 decoration-slate-500/60 hover:decoration-slate-500"
        >
          Github Repository
        </a>
        .
      </p>
    )
  }
</div>
